.sp-icon-container {
  padding-left: 0.2rem;
}

.sp-icon {
  fill: #0d6efd;
  vertical-align: bottom;
}

.sp-icon-open {
  cursor: zoom-in;
}

.sp-icon-close {
  cursor: zoom-out;
}

.sp-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.3);
  cursor: zoom-out;
  display: none;
}

.sp-modal {
  width: 300px;
  height: 200px;
  z-index: 1000;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  resize: both;
  overflow: auto;
}

.sp-iframe {
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(128, 128, 128, 0.4);
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_P7sC{transform-origin:center;animation:spinner_svv2 .75s infinite linear}@keyframes spinner_svv2{100%{transform:rotate(360deg)}}</style><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_P7sC"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
}
